.shopping-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the space between the cards */
    padding: 20px;
    justify-content: space-around; /* Adjusts alignment of cards */
}

.productCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 300px; /* Width of the card */
    margin: 10px;
}

.shoppingImg {
    width: 100%; /* The image takes up the entire width of the card */
    height: 200px; /* Fixed height for the images */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}
        
.productDetails {
    padding: 10px; /* Padding inside the card for text */
}
